<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-crud</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <style>
        th {
            cursor: pointer;
        }

        th:last-child {
            cursor: default;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h1>Vue crud</h1>
        <div id="app">
            <table class="table table-hover" v-cloak>
                <thead>
                <tr>
                    <th class="text-right" @click="sortBy('id')">序号</th>
                    <th class="text-right" @click="sortBy('name')">书名</th>
                    <th class="text-right" @click="sortBy('author')">作者</th>
                    <th class="text-right" @click="sortBy('price')">价格</th>
                    <th class="text-right">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="book in books | orderBy sortParam sortOrder">
                    <td class="text-right">{{book.id}}</td>
                    <td class="text-right">{{book.name}}</td>
                    <td class="text-right">{{book.author}}</td>
                    <td class="text-right">{{book.price}}</td>
                    <td class="text-right">
                        <button type="button" class="btn" :class="$index % 2 ? 'btn-danger' : 'btn-success' "
                                @click="delBook(book)">删除
                        </button>
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn" :class="$index % 2 ? 'btn-danger' : 'btn-success' "
                                @click="updateBook(book)">修改
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <h4>总价:{{sum}}</h4></td>
            </div>
            <div id="add-book">
                <legend>添加书籍</legend>
                <form class="form-horizontal" id="form1">
                    <div class="form-group">
                        <label for="book_name" class="col-sm-2 control-label">书名</label>
                        <div class="col-sm-10">
                            <input type="text" name="book_name" class="form-control" v-model="book.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book_author" class="col-sm-2 control-label">作者</label>
                        <div class="col-sm-10">
                            <input type="text" name="book_author" class="form-control" v-model="book.author">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book_price" class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input type="text" name="book_price" class="form-control" v-model="book.price">
                        </div>
                    </div>
                    <template v-if="flag">
                        <button class="btn btn-primary btn-block" @click="handleBook(book)">添加</button>
                    </template>
                    <template v-else="flag">

                        <button class="btn btn-primary btn-block" @click="handleBook(book)">修改</button>
                    </template>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
<script src="../js/lib/vue.min.js"></script>
<script src="../js/lib/vue-resource.min.js"></script>
<script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="../js/lib/layer/layer.js"></script>
<script src="../js/model/crud.js"></script>
</html>